.navbar {
    background: #ffffffa9;
    backdrop-filter: blur(8px);
    height: 3rem;
    width: 100vw;
    margin: 0 auto;
    max-width: 75rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #ffffff8f;
    z-index: 3;
    border-radius: 0rem 0rem 1rem 1rem;
}
.desktopMenuListItem {
    color: #18151b;
}
.desktopMenuListItem.active {
    color: #00809d;
    transition: .3s;
}

.logo {
    object-fit: cover;
    height: 2.5rem;
    width: auto;
    cursor: pointer;
}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
}

.desktopMenuListItem:hover {
    padding-bottom: 0.5rem;
}
.desktopMenuListItem .dropdown{
    height: 7.5px;
}
.desktopMenuListItem .dropdown:hover {
    cursor: pointer;
    transform: rotate(180deg);
    transition: .5s;
}

.desktopMenuBtn {
    background: #15181b;
    color: #fff;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
}
.desktopMenuBtn.active {
    background: #fff;
}

.desktopMenuImg {
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 1rem;
}

.mobMenu {
    display: none;
    object-fit: cover;
    height: 1.8rem;
}

.navMenu {
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: #fff;
    border-radius: 1rem;
}

.listItem {
    color: #18151b;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    border-radius: 4px;
    background: #f0eef7;
}
.listItem-ourApps {
    color: #18151b;
    display: flex;
    align-items: center;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: #f0eef7;
}

@media screen and (max-width: 720px) {
    .mobMenu {
    display: none;
    object-fit: cover;
    height: 1.8rem;
    }
    .navbar {
        height: 3rem;
        border-radius: 0px;
    }
    .logo {
        height: 3rem;
    }
    .listItem.active {
        border-left: 4px solid #008cff;
    }
    .listItem:active {
        opacity: .3;
    }
    .mobMenu{
        display: flex;
        width: 30px;
        cursor: pointer;
    }
    .mobMenu:active {
        opacity: .3;
    }
    .desktopMenu {
        display: none;
    }
    .desktopMenuBtn {
        display: none;
    }
}

